@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .containerr {
        @apply w-full max-w-7xl mx-auto px-5
    }

    .ctaContainer {
        @apply w-full max-w-917 mx-auto px-5
    }

    .header-link {
        @apply text-lg font-semibold leading-7 font-Livvic
    }

    .main-still {
        @apply text-5xl font-bold font-Livvic leading-48
    }

    .text-still-base {
        @apply text-base font-semibold font-Livvic
    }

    .about-still {
        @apply text-[64px] font-bold font-Livvic leading-[100px]
    }
}

.eror {
    color: rgb(183, 46, 46);
    display: none;
    font-size: 15px;
    font-weight: 700;
}

.right {
    display: none;
    color: rgb(14, 197, 179);
}

.contact-email:not(:placeholder-shown)+.eror {
    display: block;
}

.contact-email:valid~.eror {
    display: none;
}

.contact-email:valid~.right {
    display: block;
}

*:focus {
    outline: none;
}

textarea {
    resize: none;
}

*:focus::placeholder {
    color: rgb(241, 228, 228);
}

.active:valid {
    border-color: green;
}

.active:invalid {
    border-color: rgb(255, 247, 247);
}

.active :placeholder-shown {
    border-color: white;
}